flows.json
[
    {
        "id": "bf43c5ef815e2243",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc8510542a0c163a",
        "type": "tab",
        "label": "Control Valve",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b56a08018ca8626",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Pond Controller",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a2477e05a35a266b",
        "type": "ui_tab",
        "name": "Pond Controller",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b8db7c4fd954a85d",
        "type": "ui_group",
        "name": "Control",
        "tab": "a2477e05a35a266b",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "68116819f71e2f5a",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb99c239e3a46cec",
        "type": "ui_group",
        "name": "State",
        "tab": "a2477e05a35a266b",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "39f99e4a62f373c8",
        "type": "serial-port",
        "serialport": "/dev/tty.usbserial-AD02CUJ5",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "aa26cc599ef500fc",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "7ea1aee8eb92b1b2",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "06f5a44bf7958c8f",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "181fecb5fb0f9728",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "c71692c801af58e3",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "686100a722c18393",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "b8db7c4fd954a85d",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "fb65f9c92c042ab8",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "cfb420d9f78b1e18",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "195cda0d2a7ca0df",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "22d9835d04be4fb6",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "45f17c8f84e6d99c",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "da2983ca2b06d9d4",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "ad0c02974936dca7",
        "type": "ui_spacer",
        "z": "bf43c5ef815e2243",
        "name": "spacer",
        "group": "cb99c239e3a46cec",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "9a4242ee0a7c3d43",
        "type": "serial out",
        "z": "bf43c5ef815e2243",
        "name": "",
        "serial": "39f99e4a62f373c8",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "f216c318626bd817",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send ConstantColor Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"C\",\"size\":5,\"data\":[140,224,64,0,0]}",
        "payloadType": "json",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "d4f9c1bdf968205c",
        "type": "function",
        "z": "bf43c5ef815e2243",
        "name": "Make Light Event",
        "func": "\nfunction checksum(buf) \n{\n    var sum = 0;\n\n    for (var i = 0; i < buf.length; i++) {\n        sum += buf.readUInt8(i);\n    }\n    return sum & 0x3f;\n}\n\nfunction toChar(i)\n{\n    return String.fromCharCode(0x30 + i);\n}\n\nfunction toCharCode(i)\n{\n    return 0x30 + i;\n}\n\nnode.warn(\"Enter Send Event\");\n\nvar buf = Buffer.alloc(7 + msg.payload.size);\nvar index = 0;\nbuf[index++] = \"(\".charCodeAt();\nbuf[index++] = toCharCode(msg.payload.adr);\nbuf[index++] = msg.payload.cmd.charCodeAt(0);\n\nnode.warn(\"*** payload.size=\" + msg.payload.size);\nbuf.writeUInt8((msg.payload.size >> 8) & 0xff, index++);\nbuf.writeUInt8(msg.payload.size & 0xff, index++);\nnode.warn(\"*** after payload size\");\n\nfor (var i = 0; i < msg.payload.size; ++i) {\n    buf.writeUInt8(msg.payload.data[i], index++);\n}\n\nvar checksumIndex = index;\nbuf[index++] = \"0\".charCodeAt();\nbuf[index++] = \")\".charCodeAt();\n\nbuf[checksumIndex] = checksum(buf) + 0x30;\n\n//node.warn(buf);\nnode.warn(\"cmd='\" + msg.payload.cmd + \"'\");\n\nreturn { payload : buf };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 680,
        "wires": [
            [
                "9a4242ee0a7c3d43"
            ]
        ]
    },
    {
        "id": "75966ffbb9e14ee5",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Color Off Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"C\",\"size\":5,\"data\":[60,7,0,0,0]}",
        "payloadType": "json",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "aab07133f0d61167",
        "type": "link in",
        "z": "bf43c5ef815e2243",
        "name": "",
        "links": [
            "b0ae5194adc15f74",
            "2f70d95631d6b2cd"
        ],
        "x": 295,
        "y": 680,
        "wires": [
            [
                "d4f9c1bdf968205c"
            ]
        ]
    },
    {
        "id": "2f70d95631d6b2cd",
        "type": "link out",
        "z": "bf43c5ef815e2243",
        "name": "",
        "mode": "link",
        "links": [
            "aab07133f0d61167"
        ],
        "x": 815,
        "y": 380,
        "wires": []
    },
    {
        "id": "e0b3dcdae87e0e7e",
        "type": "ui_button",
        "z": "bf43c5ef815e2243",
        "name": "",
        "group": "b8db7c4fd954a85d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close Skimmer",
        "tooltip": "Close the skimmer valve for 15 minutes",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "close",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "4401825353a8cec8"
            ]
        ]
    },
    {
        "id": "4401825353a8cec8",
        "type": "link out",
        "z": "bf43c5ef815e2243",
        "name": "Send Ctl Msg",
        "mode": "link",
        "links": [
            "e47614c49656239e"
        ],
        "x": 305,
        "y": 740,
        "wires": []
    },
    {
        "id": "64dc03adce06ec72",
        "type": "ui_text",
        "z": "bf43c5ef815e2243",
        "group": "cb99c239e3a46cec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Skimmer Valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "45b0bd1f8f25fc92",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Executable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "5d77bb2801589b37"
            ]
        ]
    },
    {
        "id": "5d77bb2801589b37",
        "type": "function",
        "z": "bf43c5ef815e2243",
        "name": "Build Executable Msg",
        "func": "var fs = global.get('fs')\n\nvar name = \"/Users/cmarrin/PostLightEffects.lcdx\";\n\nif (!fs.existsSync(name)) {\n    node.warn(\"*** Error '\" + name + \"' does not exist\");\n} else {\n    var buf = fs.readFileSync(name);\n    var p = {\n        \"adr\": 0,\n        \"cmd\": \"X\",\n        \"size\": buf.length,\n        \"data\": buf\n    }\n    node.warn(\"*** Sending '\" + name + \"'\");\n    node.send({ payload : p });\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "9a2801c53a116ac5",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Interp Flicker Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"f\",\"size\":4,\"data\":[25,200,100,2]}",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "0dfce1bb9a3208bc",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Interp Pulse Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"p\",\"size\":5,\"data\":[50,224,200,6,7]}",
        "payloadType": "json",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "f98264a050f26a43",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Interp Rainbow Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"r\",\"size\":6,\"data\":[0,224,150,12,6,0]}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "792e652b510131f1",
        "type": "inject",
        "z": "bf43c5ef815e2243",
        "name": "Send Interp Multicolor Msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"adr\":0,\"cmd\":\"m\",\"size\":13,\"data\":[0,255,255,96,255,240,170,255,255,38,255,255,5]}",
        "payloadType": "json",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "2f70d95631d6b2cd"
            ]
        ]
    },
    {
        "id": "fa3586050bc275eb",
        "type": "function",
        "z": "bc8510542a0c163a",
        "name": "Handle Buttons",
        "func": "if (msg.payload > 1.2 && msg.payload < 2.7) {\n    // Close valve button\n    return { \"payload\" : \"timedclose\" };\n}\n\nif (msg.payload < 4) {\n    // upper right button\n    return { \"payload\" : \"UpperRight\" };\n}\n\nif (msg.payload < 6) {\n    // lower right button\n    return { \"payload\" : \"LowerRight\" };\n}\n\nif (msg.payload < 9.2) {\n    // center button\n    return { \"payload\" : \"Center\" };\n}\n\nif (msg.payload < 10.8) {\n    // lower left button\n    return { \"payload\" : \"LowerLeft\" };\n}\n\nif (msg.payload < 11.8) {\n    // upper left button\n    return { \"payload\" : \"UpperLeft\" };\n}\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 280,
        "wires": [
            [
                "653b047c20725812"
            ]
        ]
    },
    {
        "id": "3050fafe391adae3",
        "type": "trigger",
        "z": "bc8510542a0c163a",
        "name": "Run Valve Motor",
        "op1": "",
        "op2": "runmotordone",
        "op1type": "nul",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "f45d4d2043415fe6"
            ]
        ]
    },
    {
        "id": "b8fb548653d52397",
        "type": "trigger",
        "z": "bc8510542a0c163a",
        "name": "Reopen Valve",
        "op1": "",
        "op2": "open",
        "op1type": "nul",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "stop",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 840,
        "y": 400,
        "wires": [
            [
                "f45d4d2043415fe6"
            ]
        ]
    },
    {
        "id": "f45d4d2043415fe6",
        "type": "function",
        "z": "bc8510542a0c163a",
        "name": "Manage Valve",
        "func": "// This function receives messages to \"open\", \"close\"\n// and \"stop\" the valve motor\n\nfunction makeRelayMsg(enable, id)\n{\n    return { \"topic\" : \"relay.\" + id, \"payload\" : enable };\n}\n\n// Make a message to send multiple outputs. The first sends\n// 2 messages, one to each relay. The second sends a\n// message to trigger the timer that keeps the valve\n// motor running long enough to let it open or close.\n// The third sends a message to trigger the timer that\n// tells the valve when to reopen. All params are bool.\n// Since the timers trigger on any message \"msg\" is \n// sent when startMotor or startDelay are true and\n// \"null\" when false.\nfunction makeMsg(relay1, relay2, startMotor, startDelay, stopDelay)\n{\n    var delayPayload = null;\n    if (startDelay) {\n        delayPayload = msg;\n    } else if (stopDelay) {\n        delayPayload = { \"payload\" : \"stop\" };\n    }\n    \n    return [\n        [\n            makeRelayMsg(relay1, \"one\"),\n            makeRelayMsg(relay2, \"two\")\n        ],\n        delayPayload,\n        startMotor ? msg : null\n    ];\n}\n\nif (msg.payload == \"close\") {\n    return makeMsg(false, true, true, false, true);\n}\n\nif (msg.payload == \"timedclose\") {\n    return makeMsg(false, true, true, true, false);\n}\n\nif (msg.payload == \"open\") {\n    return makeMsg(true, false, true, false, true);\n}\n\nif (msg.payload == \"stop\") {\n    return makeMsg(false, false, false, false, true);\n}\n\nif (msg.payload == \"runmotordone\") {\n    return makeMsg(false, false, false, false, false);\n}\n\nreturn null;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "220960cc39d303aa"
            ],
            [
                "b8fb548653d52397"
            ],
            [
                "3050fafe391adae3"
            ]
        ]
    },
    {
        "id": "a2c50637acc4d0ab",
        "type": "function",
        "z": "bc8510542a0c163a",
        "name": "Control Lights",
        "func": "function makeMsg()\n{\n    return {\n        \"topic\" : \"ControlLights\", \n        \"payload\" : payloads[currentPayload]\n    };\n}\n\nif (msg.payload == \"Center\") {\n    // Go to the next command\n    if (++currentPayload >= payloads.length) {\n        currentPayload = 0;\n    }\n} else {\n    return null\n}\n\nreturn makeMsg();\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Setup the payload\n\ncurrentPayload = 0;\n\npayloads = [\n    {\n        \"adr\":  0,\n        \"cmd\":  \"C\",\n        \"hue\":  0,\n        \"sat\":  0,\n        \"val\":  0,\n        \"par1\": 0,\n        \"par2\": 0\n    },\n    {\n        \"adr\":  0,\n        \"cmd\":  \"C\",\n        \"hue\":  60,\n        \"sat\":  56,\n        \"val\":  16,\n        \"par1\": 0,\n        \"par2\": 0\n    },\n    {\n        \"adr\":  0,\n        \"cmd\":  \"F\",\n        \"hue\":  6,\n        \"sat\":  56,\n        \"val\":  32,\n        \"par1\": 0,\n        \"par2\": 0\n    },\n    {\n        \"adr\":  0,\n        \"cmd\":  \"F\",\n        \"hue\":  60,\n        \"sat\":  56,\n        \"val\":  16,\n        \"par1\": 4,\n        \"par2\": 0\n    }\n];\n\n// Array entry for each command. Each entry is\n// an array with the currentParams for that command\n// of the form [ hue, sat, val, speed ]\nvar currentParams = [\n    // \"X\" - all lights off\n    [ 0, 0, 0, 0 ],\n    \n    // \"C\" - constant color\n    [ 60, 56, 16, 0],\n    \n    // \"F\" - flicker\n    [ 6, 56, 32, 0 ],\n    \n    // \"R\" - rainbow\n    [ 0, 0, 0, 0 ]\n];\n\n// Array entry for each command. each entry is\n// an array with the sequence of params to use\n// when the buttons are pressed\nvar paramSequence = [\n    // \"X\" - all lights off\n    [ 0, 0, 0, 0 ],\n    \n    // \"C\" - constant color\n    [ 60, 56, 16, 0],\n    \n    // \"F\" - flicker\n    [ 6, 56, 32, 0 ],\n    \n    // \"R\" - rainbow\n    [ 0, 0, 0, 0 ]\n];\n",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "b0ae5194adc15f74"
            ]
        ]
    },
    {
        "id": "b0ae5194adc15f74",
        "type": "link out",
        "z": "bc8510542a0c163a",
        "name": "",
        "mode": "link",
        "links": [
            "aab07133f0d61167"
        ],
        "x": 715,
        "y": 160,
        "wires": []
    },
    {
        "id": "e47614c49656239e",
        "type": "link in",
        "z": "bc8510542a0c163a",
        "name": "Receive Ctl Msg",
        "links": [
            "653b047c20725812",
            "4401825353a8cec8"
        ],
        "x": 435,
        "y": 280,
        "wires": [
            [
                "a2c50637acc4d0ab",
                "f45d4d2043415fe6",
                "c335ab41f7baf9f5"
            ]
        ]
    },
    {
        "id": "653b047c20725812",
        "type": "link out",
        "z": "bc8510542a0c163a",
        "name": "Send Ctl Msg",
        "mode": "link",
        "links": [
            "e47614c49656239e"
        ],
        "x": 355,
        "y": 280,
        "wires": []
    },
    {
        "id": "c335ab41f7baf9f5",
        "type": "debug",
        "z": "bc8510542a0c163a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "49bdab46da813319",
        "type": "inject",
        "z": "bc8510542a0c163a",
        "name": "Open Skimmer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "open",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "f45d4d2043415fe6"
            ]
        ]
    },
    {
        "id": "220960cc39d303aa",
        "type": "debug",
        "z": "bc8510542a0c163a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "a5a97b1708e1149d",
        "type": "inject",
        "z": "bc8510542a0c163a",
        "name": "Close Skimmer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "close",
        "payloadType": "str",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "f45d4d2043415fe6"
            ]
        ]
    },
    {
        "id": "3545517c8e5e36ac",
        "type": "inject",
        "z": "bc8510542a0c163a",
        "name": "Timed Close Skimmer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timedclose",
        "payloadType": "str",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "f45d4d2043415fe6"
            ]
        ]
    }
]